---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cfinfrastructure/terraform

inputs:
- name: leftovers

run:
  path: leftovers/ci/tasks/acceptance/task

params:
  LEFTOVERS_ACCEPTANCE:
  BBL_GCP_SERVICE_ACCOUNT_KEY:
  BBL_AWS_ACCESS_KEY_ID:
  BBL_AWS_SECRET_ACCESS_KEY:
  BBL_AWS_REGION:
  BBL_AZURE_SUBSCRIPTION_ID:
  BBL_AZURE_TENANT_ID:
  BBL_AZURE_CLIENT_ID:
  BBL_AZURE_CLIENT_SECRET:
  BBL_VSPHERE_VCENTER_IP:
  BBL_VSPHERE_VCENTER_USER:
  BBL_VSPHERE_VCENTER_PASSWORD:
  BBL_VSPHERE_VCENTER_DC:
  BBL_DOWN_TIMEOUT:
  BBL_OPENSTACK_DOMAIN:
  BBL_OPENSTACK_USERNAME:
  BBL_OPENSTACK_PASSWORD:
  BBL_OPENSTACK_REGION:
  BBL_OPENSTACK_PROJECT:
  BBL_OPENSTACK_AUTH_URL:
